.App{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

hr{
  width: 100%;
}

.contenedor-lenguajes{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

@media screen and (max-width:300px){
  .texto-conocimientos{
    font-size: 10vw;
  }
}

@media screen and (max-width:1200px){
  .contenedor-lenguajes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:600px){
  .contenedor-lenguajes{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
  }
}